ul{
    list-style-type: none;
    width: 200px;
    margin: 0;
    padding: 0;
    background-color: grey;
}

a{
    display: block;
    padding: 8px 16px;
    color: white;
    text-decoration: none;
}

.active{
    background-color: green;
    color: white;
}

a:hover{
    color: white;
    background-color: black;
}
