
<%- include('partials/header') %>

    <nav>
        <ul class="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/create-account">Create an Account</a></li>
            <li><a href="/find-pet">Find a dog/cat</a></li>
            <li><a href="/dog-care">Dog Care</a></li>
            <li><a href="/cat-care">Cat Care</a></li>
            <li><a href="/give-away">Have a pet to give away</a></li>
            <li class="active"><a href="/contact">Contact Us</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1>Contact Information</h1>
        <p>Name: Akshey Visuvalingam</p>
        <p>Student Id: 40270505</p>
        <P>Email: a_visuva@live.concordia.ca</P>

    </div>

<%- include('partials/footer') %>

<script src="/Q7/public/js/website.js"></script>
</body>
</html>