
<%- include('partials/header') %>

    <nav>
        <ul class="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/create-account">Create an Account</a></li>
            <li><a href="/find-pet">Find a dog/cat</a></li>
            <li class="active"><a href="/dog-care">Dog Care</a></li>
            <li><a href="/cat-care">Cat Care</a></li>
            <li><a href="/login">Have a pet to give away</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul>
    </nav>

<div class="container">
    <header id="main-header">
        <h1>The Main Necessities of Proper Pet Care</h1>
    </header>

    <div id="content">
        <p>Information from https://animalfoundation.com/whats-going-on/blog/basic-necessities-proper-pet-care</p>
        <ul>
            <li><h3>Pets need healthy food.</h3></li>
            <li><h3>Give your pets 24/7 access to fresh drinking water.</h3></li>
            <li><h3>Proper pet care includes providing a safe, cozy shelter.
            </h3></li>
            <li><h3>Pets need to go to the bathroom regularly.
            </h3></li>
            <li><h3>Make sure that your pet gets regular exercise. 
            </h3></li>
            <li><h3>Pets require doctor visits and healthy habits.
            </h3></li>
        </ul>
</div>
</div>

<%- include('partials/footer') %>

<script src="/Q7/public/js/website.js"></script>
</body>
</html>