
<%- include('partials/header') %>

    <nav>
        <ul class="navbar">
            <li class="active"><a href="/">Pet Adoption</a></li>
            <li><a href="/create-account">Create an Account</a></li>
            <li><a href="/find-pet">Find a dog/cat</a></li>
            <li><a href="/dog-care">Dog Care</a></li>
            <li><a href="/cat-care">Cat Care</a></li>
            <li><a href="/give-away">Have a pet to give away</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul>
    </nav>

<div id="content">
    <h2>Welcome to Our Pet Adoption Community</h2>
    <br>
     <p>Are you ready to open your heart and home to a furry friend? At our pet adoption center, we strive to match loving animals with caring families. Whether you're looking for a playful puppy or a cuddly kitten, you'll find your perfect companion here.</p>
     <p>Our mission is to provide a safe and nurturing environment for animals in need, while also promoting responsible pet ownership. Every adoption helps us continue our work in rescuing and rehabilitating animals.</p>
     <p>Explore our website to learn more about our available pets, adoption process, and how you can make a difference in the life of a homeless animal.</p>
</div>

<%- include('partials/footer') %>

<script src="/Q7/public/js/website.js"></script>
</body>
</html>